@media only screen and (max-width: 639px){
	.intro-page-white{
		background-image: url('../assets/images/3.jpg');
		@include wall-parallax(90%, 50%, 1366px, 768px);
	}
	.intro-page-white{
		h1, h2{
			color: white !important;
		}
	}
	.intro-two-white{
		h1, h2{
			color: white !important;
		}
	}
	.intro-two-white{
		background-image: url('../assets/images/4.jpg');
		@include wall-parallax(40%, 50%, 1366px, 768px);
	}
}