@mixin avatar($h){
	height: $h;
	border-radius: 50%;
}

@mixin wall-gradient($angle, $color-a, $color-b){
	background-image: linear-gradient($angle, $color-a, $color-b);
	color: white;
}

@mixin wall-parallax($pos-x, $pos-y, $img-w, $img-h){
	background-size: $img-w, $img-h;
	background-position: $pos-x $pos-y;
	background-attachment: fixed;
}

@mixin timeline{
	border-left: 3px solid #00ff7f;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	margin: 50px auto;  
	letter-spacing: 0.5px;
	position: relative;
	line-height: 1.4em;
	font-size: 1.03em;   
	padding: 50px;
	list-style: none;
	text-align: left;  
	font-weight: 100;  
	max-width: 39%;

	h2, h3 {
		font-size: 26px;
	}

	.event {
		border-bottom: 1px dashed fade(white, 10%);
		padding-bottom: (50px * 0.5);
		margin-bottom: 50px;
		position: relative;

		&:last-of-type { 
		  padding-bottom: 0;
		  margin-bottom: 0; 
		  border: none;      
		}

		&:before, &:after {
		  position: absolute;
		  display: block;
		  top: 0;
		}

		&:before {
		  left: (((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1;    
		  content: attr(data-date);
		  font-family: 'Roboto Light';
		  text-align: right;
		  letter-spacing: 1.2px;
		  font-size: 0.9em;
		  min-width: 120px;
		}

		&:after {
		  left: (50px + 3px + (11px * 0.35)) * -1;
		  background: #00ff7f;
		  border-radius: 50%;
		  height: 11px;
		  width: 11px;
		  content: "";
		  top: 5px;
		}
	}
}