@import './mixins.scss';
@import './media.scss';
@import './font.scss';

%details {
	font-size: 18px;
	margin: {
		top: 0px;
		bottom: 0px;
	}
	font-family: 'IBM Plex Sans Light', sans-serif;
}

%name {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.06em;
	font-weight: bold;
	font-family: 'IBM Plex Sans Light', sans-serif;
}

%intro {
	text-align: center;
	font-size: 50px;
	padding-top: 60px;
	font-family: 'Roboto Thin', sans-serif;
}

%intro-padding {
	padding: {
		left: 30px;
		right: 30px;
		bottom: 250px;
	}
}

// Assets
.navbar-jpcs-logo{
	height: 45px;
	width: 45px;
	margin-top: 10px;
}

.developh-logo{
	height: 50px;
	filter: invert(100%);
}

// Landing
.register-nav{
	margin: {
		top: 15px;
		right: 40px;
	};
}

.register{
	width: 100%;
}

.landing-left{
	padding-top: 240px;
}

.landing-page{
	background-image: url('../assets/images/landing.png');
	background-size: 1366px 768px;
	background-position: 50% 50%;
	padding-bottom: 280px;
}

.landing-title{
	font-weight: 600;
	letter-spacing: 7px;
	font-size: 56px;
	font-family: 'Montserrat', sans-serif;
}

.landing-subtitle{
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
}

// Event Details
.eventdetails-page{
	background-image: url('../assets/images/mapua.jpg');
	@include wall-parallax(50%, 50%, 1366px, 768px);
	padding-top: 290px;
}

.eventdetails-content{
	padding-bottom: 270px;
}

.eventdetails-venue{
	font-family: 'Roboto Thin', sans-serif;
	font-size: 48px;
	color: white;
}

.eventdetails-time{
	font-family: 'IBM Plex Sans Thin', sans-serif;
	font-size: 24px;
	color: white;
}

#countdown{
	margin-top: 60px;
	color: white;
	font-size: 24px;
	font-family: 'Roboto Light', sans-serif;
}

.time-label{
	text-transform: uppercase; 
	font-size: 12px;
}

// Timeline
.timeline-container{
	margin-top: 50px;
	text-align: center;
}

.schedule-intro{
	@extend %intro;
}

.timeline {
	@include timeline;

	.speaker{
		@include avatar(60px);
	}

	.speaker-name{
		font-size: 16px;
		font-family: 'Roboto Light';
	}

	.speaker-label{
		font-size: 14px;
		font-family: 'Roboto Light';
	}
}

// Footer

.footer{
	background-color: #0a0a0a;
}

.footer-socials > .uk-badge{
	height: 30px;
	background-color: #d93843;
	margin-right: 10px;

	&:last-child{
		margin-right: 0px;
	}
}

.uk-badge > *{

	&:hover{
		filter: invert(100%);
	}

}

.footer-jpcs-logo {
	margin-top: 100px;
	height: 50px;
	width: 50px;
	filter: invert(100%);
}

.footer-socials{
	margin-bottom: 90px;
}