@import './mixins.scss';
@import './media.scss';
@import './font.scss';

%details {
	font-size: 18px;
	margin: {
		top: 0px;
		bottom: 0px;
	}
	font-family: 'IBM Plex Sans Light', sans-serif;
}

%name {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.06em;
	font-weight: bold;
	font-family: 'IBM Plex Sans Light', sans-serif;
}

%intro {
	text-align: center;
	font-size: 60px;
	padding-top: 60px;
	color: white;
	font-family: 'IBM Plex Sans Thin', sans-serif;
}

%intro-padding {
	padding: {
		left: 30px;
		right: 30px;
		bottom: 250px;
	}
}

// Assets
.navbar-jpcs-logo{
	height: 40px;
	width: 40px;
}

// Landing
.landing-page{
	background-image: url('../assets/images/2.jpg');
	@include wall-parallax(50%, 50%, 1366px, 768px);
	padding-bottom: 280px;
}

.landing-title{
	padding-top: 200px;
	color: white;
	text-align: center;
	font-size: 56px;
	font-family: 'IBM Plex Sans Thin', sans-serif;
}

.landing-subtitle{
	margin-top: 0px;
	text-align: center;
	font-family: 'IBM Plex Sans Light', sans-serif;
	color: white;
}

// Introduction (Page 1)
.intro-page{
	background-image: url('../assets/images/3.jpg');
	@include wall-parallax(90%, 50%, 1366px, 768px);
}

.intro-page-header{
	padding-top: 250px;
}

.intro-page-description{
	@extend %intro-padding;
}

// Introduction (Page 2)
.intro-two-page{
	background-image: url('../assets/images/4.jpg');
	@include wall-parallax(40%, 50%, 1366px, 768px);
}

.intro-two-page-header{
	padding-top: 250px;
}

.intro-two-page-description{
	@extend %intro-padding;
}

// Speakers
.speakers-page {
	@include wall-gradient(45deg, #00ff7f, #20b2aa);
}

.speakers-page > .uk-text-center {
	padding-top: 60px;
}

.speakers-page .speakers-intro {
	@extend %intro;
}

.speaker-avatar{
	@include avatar(180px);
}

.speaker-name {
	@extend %name;
}

.speaker-details{
	@extend %details;
}

#speakers-row:last-child{
	padding-bottom: 100px;
}

// Team

.team-page{
	@include wall-gradient(45deg, #ff69b4, #ff8c00);
}

.team-intro{
	@extend %intro;
}

.team-page > .uk-text-center {
	padding-top: 60px;
}

.member-avatar{
	@include avatar(180px);
}

.member-name {
	@extend %name;
}

.member-details{
	@extend %details;
}

#members-row:last-child{
	padding-bottom: 100px;
}

// Footer

.footer{
	background-color: #0a0a0a;
}

#footer-container{
	padding: {
		top: 100px;
		bottom: 100px;
	}
}

.footer-jpcs > .uk-badge{
	height: 30px;
	background-color: #d93843;
}